.button-container{
    margin: 10px;
}

.btn{
    width: 70px;
    height: 70px;
    background-color: #74342B;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-family: sans-serif;
}

.btn:hover{
    background-color: #EDDBC2;
}