.button-container{

}

.btn{
    width: 70px;
    height: 70px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.btn:hover{
    background-color: #e0e0e0;
}