.button-container{
    margin: 10px;
}

.btn{
    width: 70px;
    height: 70px;
    background-color: #74342B;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: "Gill Sans", sans-serif;
    /* font-weight: bold; */
}

.btn:hover{
    background-color: #EDDBC2;
}